name: Publish

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '25'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Publish to npm
        run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Create GitHub Deployment
        uses: actions/github-script@v6
        env:
          PACKAGE_NAME: asciime
          PACKAGE_VERSION: ${{ github.event.release.tag_name }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { PACKAGE_NAME, PACKAGE_VERSION } = process.env;
            const { data: deployment } = await github.rest.repos.createDeployment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: context.ref,
              environment: 'production',
              auto_merge: false,
              required_contexts: [],
            });

            await github.rest.repos.createDeploymentStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              deployment_id: deployment.id,
              state: 'success',
              environment_url: `https://www.npmjs.com/package/${PACKAGE_NAME}/v/${PACKAGE_VERSION.replace('v', '')}`,
            });
